body {
  background-color: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.location-card {
  max-width: 250px;
  float: right;
}

.account-card {
  max-width: 350px;
}

.location-wrapper {
  height: 80vh;
  overflow: scroll;
}

.landing {
  background-image: url('https://i.imgur.com/roXU4zc.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: -56px;
}